<!DOCTYPE html>
<html>
  <head>
    {{template "head.templ"}}
    <style>
    td.value
    {
      max-width: 150px;
      word-wrap: break-word;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Differences</h1>
          <p><a href="/list">Back</a></p>
          <table class="table">
            <col width="20%"/>
            <col width="20%"/>
            <col width="20%"/>
            <col width="20%"/>
            <col width="20%"/>
            <tr>
              <thead>
                <tr><th>path</th><th>scope</th><th>scope id</th><th class="value">old</th><th class="value">new</th></tr>
              </thead>
              <tbody>
                {{range .Lines}}
                <tr class="{{if .IsAdded}} success{{end}}{{if .IsRemoved}} danger{{end}}">
                  <td>{{.Path}}</td><td>{{.Scope}}</td><td>{{.ScopeId}}</td>
                  <td class="value">{{.OldValue}}</td>
                  <td class="value">{{.NewValue}}</td>
                </tr>
                {{end}}
              </tbody>
          </table>
          {{template "foot.templ"}}
        </div>
      </div>
    </div>
  </body>
</html>
